# Imports

In [42]:
import pandas as pd

# Helper functions

In [43]:
def is_coluna_valor_unico(coluna: pd.Series) -> bool:
    if coluna.value_counts()[0] == 1:
        return True
    else:
        return False

In [95]:
pd.set_option("display.max_columns", None)

# Carrega dados

Nesta etapa, carregamos os arquivos .csv e os mesmos são integrados em um único dataframe. Juntamente durante a integração, selecionamos as colunas de interesse de cada dataframe.

A integração das bases de dados é realizada seguindo o schema provido pelos donos dos dados:

<img src="./imgs/data_schema.png" alt="Data Schema" width="50%" height="50%" title="Data Schema">

## Orders

In [44]:
df_orders = pd.read_csv("data/olist_orders_dataset.csv")
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [45]:
# checa se a coluna order_id possui apenas valores unicos para correto funcionamento do join
if is_coluna_valor_unico(df_orders["order_id"]):
    print("Coluna order_id possui apenas valores unicos")
else:
    print("Coluna order_id possui valores duplicados")

Coluna order_id possui apenas valores unicos

Dataframe df_orders está pronto para realização do join.

## Order Payments

In [46]:
df_order_payments = pd.read_csv("data/olist_order_payments_dataset.csv")
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [47]:
if is_coluna_valor_unico(df_order_payments["order_id"]):
    print("Coluna order_id possui apenas valores unicos")
else:
    print("Coluna order_id possui valores duplicados")

Coluna order_id possui valores duplicados

Dado que a coluna order_id possui valores duplicados, vamos resolver as duplicidades.

Para isso, inicialmente vamos buscar um exemplo com duplicidade:

In [48]:
df_order_payments["order_id"].value_counts()

order_id
fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
                                    ..
6d2a30c9b7dcee3ed507dc9a601f99e7     1
a7737f6d9208dd56ea498a322ed3c37f     1
646e62df54f3e236eb6d5ff3b31429b8     1
e115da7a49ec2acf622e1f31da65cfb9     1
28bbae6599b09d39ca406b747b6632b1     1
Name: count, Length: 99440, dtype: int64

In [49]:
df_order_payments[df_order_payments["order_id"] == "fa65dad1b0e818e3ccc5cb0e39231352"].sort_values("payment_sequential")

,order_id,payment_sequential,payment_type,payment_installments,payment_value
14321,fa65dad1b0e818e3ccc5cb0e39231352,1,voucher,1,3.71
23074,fa65dad1b0e818e3ccc5cb0e39231352,2,voucher,1,8.51
65641,fa65dad1b0e818e3ccc5cb0e39231352,3,voucher,1,2.95
9985,fa65dad1b0e818e3ccc5cb0e39231352,4,voucher,1,29.16
28330,fa65dad1b0e818e3ccc5cb0e39231352,5,voucher,1,0.66
29648,fa65dad1b0e818e3ccc5cb0e39231352,6,voucher,1,5.02
82593,fa65dad1b0e818e3ccc5cb0e39231352,7,voucher,1,0.32
68853,fa65dad1b0e818e3ccc5cb0e39231352,8,voucher,1,26.02
17274,fa65dad1b0e818e3ccc5cb0e39231352,9,voucher,1,1.08
19565,fa65dad1b0e818e3ccc5cb0e39231352,10,voucher,1,12.86
32519,fa65dad1b0e818e3ccc5cb0e39231352,11,voucher,1,4.03
73537,fa65dad1b0e818e3ccc5cb0e39231352,12,voucher,1,3.60
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.00
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.00
63369,fa65dad1b0e818e3ccc5cb0e39231352,15,voucher,1,14.04
78050,fa65dad1b0e818e3ccc5cb0e39231352,16,voucher,1,12.86
79670,fa65dad1b0e818e3ccc5cb0e39231352,17,voucher,1,3.72
80321,fa65dad1b0e818e3ccc5cb0e39231352,18,voucher,1,0.73
74721,fa65dad1b0e818e3ccc5cb0e39231352,19,voucher,1,5.02
93337,fa65dad1b0e818e3ccc5cb0e39231352,20,voucher,1,150.00
74239,fa65dad1b0e818e3ccc5cb0e39231352,21,voucher,1,4.11
100606,fa65dad1b0e818e3ccc5cb0e39231352,22,voucher,1,4.03
85166,fa65dad1b0e818e3ccc5cb0e39231352,23,voucher,1,18.86
99213,fa65dad1b0e818e3ccc5cb0e39231352,24,voucher,1,0.42
24879,fa65dad1b0e818e3ccc5cb0e39231352,25,voucher,1,3.68
79587,fa65dad1b0e818e3ccc5cb0e39231352,26,voucher,1,28.27
4885,fa65dad1b0e818e3ccc5cb0e39231352,27,voucher,1,66.02
39111,fa65dad1b0e818e3ccc5cb0e39231352,28,voucher,1,29.05
39108,fa65dad1b0e818e3ccc5cb0e39231352,29,voucher,1,19.26

Vemos que neste caso, existem diversas linhas de pagamento para um mesmo tipo de pagamento. Vamos agrupar o dataframe por order_id e payment_type, somando o valor do pagamento:

In [50]:
df_order_payments_group = (
    df_order_payments
    .groupby(["order_id", "payment_type"])
    .agg({"payment_value": "sum"})
    .reset_index()
)

Com o agrupamento anterior realizado, checamos novamente por duplicidades:

In [51]:
df_order_payments_group["order_id"].value_counts()

order_id
d6e320ab3eb91f810c2a3296998bdcc8    2
092ae7e7141e3d69ecd0935d97e14fd9    2
d6f83d3377bbf1697831ea355301fb87    2
c78b50d1c5ddfed2a5394dd0e90c4e99    2
67e7cace5deab160cedd95c80e6f60a8    2
                                   ..
564e414f20390e6417f5e6c6ad3f095e    1
564db6e83379512127bc60da803b4a36    1
564d8bd235927df0c8c8bfe8ff4aee6d    1
564d27104ae4e2c4d3592769b928fee6    1
fffe41c64501cc87c801fd61db3f6244    1
Name: count, Length: 99440, dtype: int64

Por ainda conter duplicidades, vamos analisar um exemplo para chegarmos em uma solução:

In [52]:
df_order_payments_group[df_order_payments_group["order_id"] == "d6e320ab3eb91f810c2a3296998bdcc8"]

                               order_id payment_type  payment_value
85459  d6e320ab3eb91f810c2a3296998bdcc8  credit_card          96.61
85460  d6e320ab3eb91f810c2a3296998bdcc8      voucher          42.04

Vemos que a duplicidade nesse caso ocorre por conta de tipos de pagamentos distintos utilizados. Para resolver essa duplicidade, vamos criar uma coluna para cada tipo de pagamento e uma coluna para cada valor pago respectivo:

In [53]:
# converte a coluna payment_type para tipo str, possibilitando a concatenacao dos valores
df_order_payments_group["payment_value"] = df_order_payments_group["payment_value"].astype(str)

In [54]:
# agrupa pelo order_id e concatena os valores de payment_type e payment_value
df_order_payments_group = df_order_payments_group.groupby("order_id").agg({"payment_type": ";".join, "payment_value": ";".join}).reset_index()

In [55]:
# cria colunas novas para separar os tipos e os valores de pagamento em colunas distintas
df_order_payments_group[["payment_type_1", "payment_type_2"]] = df_order_payments_group["payment_type"].str.split(";", expand=True)
df_order_payments_group[["payment_value_1", "payment_value_2"]] = df_order_payments_group["payment_value"].str.split(";", expand=True)

In [56]:
# remove as colunas desnecessarias
df_order_payments_group.drop(columns=["payment_type", "payment_value"], inplace=True)

In [57]:
df_order_payments_group.sample(5)

,order_id,payment_type_1,payment_type_2,payment_value_1,payment_value_2
83346,d642656598ae928a250620315d19e87e,boleto,None,42.03,None
4475,0b736121c8d0bffe6c9e592d6f91ba5c,credit_card,None,109.18,None
57157,93f1a4071d3c96b7aa72f3fa4d5be36b,credit_card,None,187.37,None
13975,242145b8067ab8aaa40c2da8d98b929d,credit_card,None,155.03,None
73747,bde483878bed3f9a95fed760af049891,debit_card,None,79.23,None

In [58]:
if is_coluna_valor_unico(df_order_payments_group["order_id"]):
    print("Coluna order_id possui apenas valores unicos")
else:
    print("Coluna order_id possui valores duplicados")

Coluna order_id possui apenas valores unicos

Vemos que agora o dataframe de pagamentos dos pedidos possui apenas valores únicos na coluna order_id e portanto está pronto para o join.

### Integração dos dados

In [59]:
df_integrado = pd.merge(df_orders, df_order_payments_group, how="left", on="order_id")
df_integrado.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_1,payment_type_2,payment_value_1,payment_value_2
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,credit_card,voucher,18.12,20.59
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,boleto,None,141.46,None
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,credit_card,None,179.12,None
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,credit_card,None,72.2,None
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,credit_card,None,28.62,None

## Order Items

A tabela de Order Items possui uma linha para cada unidade de produto contido dentro de um pedido. Para que possamos analisar os produtos comprados de forma separada, iremos deixar uma linha para cada produto, sem realizar uma agregação dos mesmos neste momento.

In [60]:
df_order_items = pd.read_csv("data/olist_order_items_dataset.csv")
df_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

### Integração dos dados

In [61]:
df_integrado = pd.merge(df_integrado, df_order_items, how="left", on="order_id")
df_integrado.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_1,payment_type_2,payment_value_1,payment_value_2,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,credit_card,voucher,18.12,20.59,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,boleto,None,141.46,None,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,credit_card,None,179.12,None,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,credit_card,None,72.2,None,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,credit_card,None,28.62,None,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72

## Products

In [62]:
df_products = pd.read_csv("data/olist_products_dataset.csv")
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [63]:
# checa se a coluna product_id possui apenas valores unicos para correto funcionamento do join
if is_coluna_valor_unico(df_products["product_id"]):
    print("Coluna product_id possui apenas valores unicos")
else:
    print("Coluna product_id possui valores duplicados")

Coluna product_id possui apenas valores unicos

### Integração dos dados

In [64]:
df_integrado = pd.merge(df_integrado, df_products, how="left", on="product_id")
df_integrado.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_1,payment_type_2,...,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,credit_card,voucher,...,29.99,8.72,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,boleto,None,...,118.70,22.76,perfumaria,29.0,178.0,1.0,400.0,19.0,13.0,19.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,credit_card,None,...,159.90,19.22,automotivo,46.0,232.0,1.0,420.0,24.0,19.0,21.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,credit_card,None,...,45.00,27.20,pet_shop,59.0,468.0,3.0,450.0,30.0,10.0,20.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,credit_card,None,...,19.90,8.72,papelaria,38.0,316.0,4.0,250.0,51.0,15.0,15.0

## Customers

In [65]:
df_customers = pd.read_csv("data/olist_customers_dataset.csv")
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [66]:
# checa se a coluna customer_id possui apenas valores unicos para correto funcionamento do join
if is_coluna_valor_unico(df_customers["customer_id"]):
    print("Coluna customer_id possui apenas valores unicos")
else:
    print("Coluna customer_id possui valores duplicados")

Coluna customer_id possui apenas valores unicos

### Integração dos dados

In [67]:
df_integrado = pd.merge(df_integrado, df_customers, how="left", on="customer_id")
df_integrado.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_1,payment_type_2,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,credit_card,voucher,...,268.0,4.0,500.0,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,boleto,None,...,178.0,1.0,400.0,19.0,13.0,19.0,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,credit_card,None,...,232.0,1.0,420.0,24.0,19.0,21.0,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,credit_card,None,...,468.0,3.0,450.0,30.0,10.0,20.0,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,credit_card,None,...,316.0,4.0,250.0,51.0,15.0,15.0,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP

## Sellers

In [68]:
df_sellers = pd.read_csv("data/olist_sellers_dataset.csv")
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [69]:
# checa se a coluna seller_id possui apenas valores unicos para correto funcionamento do join
if is_coluna_valor_unico(df_sellers["seller_id"]):
    print("Coluna seller_id possui apenas valores unicos")
else:
    print("Coluna seller_id possui valores duplicados")

Coluna seller_id possui apenas valores unicos

### Integração dos dados

In [70]:
df_integrado = pd.merge(df_integrado, df_sellers, how="left", on="seller_id")
df_integrado.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_1,payment_type_2,...,product_length_cm,product_height_cm,product_width_cm,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,credit_card,voucher,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,boleto,None,...,19.0,13.0,19.0,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,31570.0,belo horizonte,SP
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,credit_card,None,...,24.0,19.0,21.0,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,14840.0,guariba,SP
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,credit_card,None,...,30.0,10.0,20.0,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,31842.0,belo horizonte,MG
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,credit_card,None,...,51.0,15.0,15.0,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,8752.0,mogi das cruzes,SP

## Order Reviews

In [71]:
df_order_reviews = pd.read_csv("data/olist_order_reviews_dataset.csv")
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [72]:
# checa se a coluna order_id possui apenas valores unicos para correto funcionamento do join
if is_coluna_valor_unico(df_order_reviews["order_id"]):
    print("Coluna order_id possui apenas valores unicos")
else:
    print("Coluna order_id possui valores duplicados")

Coluna order_id possui valores duplicados

In [73]:
df_order_reviews["order_id"].value_counts()

order_id
c88b1d1b157a9999ce368f218a407141    3
8e17072ec97ce29f0e1f111e598b0c85    3
df56136b8031ecd28e200bb18e6ddb2e    3
03c939fd7fd3b38f8485a0f95798f1f6    3
5cb890a68b91b6158d69257e4e2bc359    2
                                   ..
5b4e9a12d219f34f5c2de9f8d620b19d    1
a6da096d974acc000962856d7386448a    1
75e0647c26de647eca3421e9cc66c9da    1
bad0467c52f23cdc71e9fa139d4a8afd    1
90531360ecb1eec2a1fbb265a0db0508    1
Name: count, Length: 98673, dtype: int64

In [74]:
df_order_reviews[df_order_reviews["order_id"] == "8e17072ec97ce29f0e1f111e598b0c85"]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
44694,67c2557eb0bd72e3ece1e03477c9dff5,8e17072ec97ce29f0e1f111e598b0c85,1,NaN,Entregou o produto errado.,2018-04-07 00:00:00,2018-04-08 22:48:27
64510,2d6ac45f859465b5c185274a1c929637,8e17072ec97ce29f0e1f111e598b0c85,1,NaN,Comprei 3 unidades do produto vieram 2 unidade...,2018-04-07 00:00:00,2018-04-07 21:13:05
92300,6e4c4086d9611ae4cc0cc65a262751fe,8e17072ec97ce29f0e1f111e598b0c85,1,NaN,"Embora tenha entregue dentro do prazo, não env...",2018-04-14 00:00:00,2018-04-16 11:37:31

Vemos que alguns pedidos possuem mais de uma review cadastrada. Isso pode ocorrer tanto por um erro de armazenamento destes dados, salvando a review mais de uma vez, ou por realmente terem sido enviadas múltiplos pedidos de review para o cliente e o mesmo ter respondido mais de um review. Para podermos ter uma review única por pedido para fins de análise, vamos utilizar sempre a review mais recente por pedido, realizando essa ordenação pela coluna review_answer_timestamp.

In [75]:
# cria a coluna ordenando decrescente pela data de resposta e numerando as reviews de um mesmo order_id
df_order_reviews["review_number"] = (
    df_order_reviews
    .sort_values("review_answer_timestamp", ascending=False)
    .groupby("order_id")
    .cumcount() + 1
)

In [76]:
# filtra apenas as reviews mais recentes de cada order_id
df_order_reviews = df_order_reviews[df_order_reviews["review_number"] == 1]

In [77]:
# remove a coluna de numeracao que ja nao eh mais necessaria
df_order_reviews.drop(columns=["review_number"], inplace=True)

Para confirmar, checamos novamente se a tabela possui apenas order_id únicos para realização do join

In [78]:
# checa se a coluna order_id possui apenas valores unicos para correto funcionamento do join
if is_coluna_valor_unico(df_order_reviews["order_id"]):
    print("Coluna order_id possui apenas valores unicos")
else:
    print("Coluna order_id possui valores duplicados")

Coluna order_id possui apenas valores unicos

### Integração dos dados

In [79]:
df_integrado = pd.merge(df_integrado, df_order_reviews, how="left", on="order_id")
df_integrado.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_1,payment_type_2,...,customer_state,seller_zip_code_prefix,seller_city,seller_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,credit_card,voucher,...,SP,9350.0,maua,SP,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,boleto,None,...,BA,31570.0,belo horizonte,SP,8d5266042046a06655c8db133d120ba5,4.0,Muito boa a loja,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,credit_card,None,...,GO,14840.0,guariba,SP,e73b67b67587f7644d5bd1a52deb1b01,5.0,NaN,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,credit_card,None,...,RN,31842.0,belo horizonte,MG,359d03e676b3c069f62cadba8dd3f6e8,5.0,NaN,O produto foi exatamente o que eu esperava e e...,2017-12-03 00:00:00,2017-12-05 19:21:58
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,credit_card,None,...,SP,8752.0,mogi das cruzes,SP,e50934924e227544ba8246aeb3770dd4,5.0,NaN,NaN,2018-02-17 00:00:00,2018-02-18 13:02:51

# Checa tipagem dos dados

In [96]:
df_integrado.sample(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type_1,payment_type_2,payment_value_1,payment_value_2,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,order_approved_at_date
14044,0084209c576daad6ff4534902fcb4892,7bfe2d37d3643c4bd9fe6fd5c4228d0e,delivered,2017-07-05 13:14:26,2017-07-05 17:41:17,2017-07-06 15:29:25,2017-07-18 12:34:02,2017-07-27,credit_card,None,85.14,None,1.0,7340a3839a1de1e99d149b8cf052a2ec,4a3ca9315b744ce9f8e9374361493884,2017-07-11 17:38:02,69.90,15.24,cama_mesa_banho,56.0,536.0,1.0,800.0,45.0,15.0,35.0,f3c96794acb463d2a2785d4eb46af0bf,23035,rio de janeiro,RJ,14940.0,ibitinga,SP,4473352c621784b3251766ad8cbfa984,3.0,NaN,NaN,2017-07-19,2017-07-19 19:35:57,2017-07-05 17:41:17
59041,93efaadf3bc94491cc008b6b4dd13b37,75f8500dddabe2f8ece6b93cfd75c4b0,delivered,2017-09-04 18:58:14,2017-09-04 19:10:13,2017-09-06 21:59:58,2017-09-15 12:19:57,2017-09-28,credit_card,None,381.32,None,2.0,afeeea6271148ee1bb15173b8187c431,53243585a1d6dc2643021fd1853d8905,2017-09-11 19:10:13,174.00,16.66,telefonia,52.0,1885.0,1.0,450.0,17.0,3.0,11.0,40b6c3ee38eb6409178eacffd8b99021,29047,vitoria,ES,42738.0,lauro de freitas,BA,88cd7621344f764bd14dd759ca11db96,5.0,NaN,NaN,2017-09-16,2017-09-16 17:07:01,2017-09-04 19:10:13
38779,b4c86abf900a8e53f4b9622532c87ea4,8be057b6ab98f2f424902ba013556895,delivered,2018-06-21 09:46:27,2018-06-21 10:22:44,2018-06-21 14:21:00,2018-06-23 12:34:25,2018-07-04,credit_card,None,270.32,None,1.0,3085b422a5fd43e691b42df75c8a63ba,eb72802c83dc7547529c9546d1a9b8ef,2018-06-27 10:22:44,259.99,10.33,beleza_saude,30.0,876.0,2.0,1500.0,53.0,48.0,30.0,d509a3eca56901f588537449fccbdcc7,6463,barueri,SP,13504.0,rio claro,SP,498180f9a0cf018dbf2c7c1927f4e556,5.0,NaN,NaN,2018-06-24,2018-06-26 16:19:32,2018-06-21 10:22:44
68211,aead5f6413ef9943082b3d3cfd37ccbe,2571d368d88ba3b8a3d8c8ac46744bbd,delivered,2018-06-22 13:20:25,2018-06-23 01:40:06,2018-06-28 10:16:00,2018-06-29 20:12:57,2018-07-13,credit_card,None,122.19,None,3.0,610ab592e0d325dee460ae2c00f1a85c,077c5fae4bea9500e3737b16f71b9d3a,2018-06-28 01:30:32,28.80,11.93,utilidades_domesticas,20.0,376.0,1.0,1350.0,16.0,26.0,11.0,b574d2e60bfb58f4e0986def9b3d7b07,18010,sorocaba,SP,18052.0,sorocaba,SP,93bcabc158fefca9e0fb6109edda11d6,5.0,NaN,NaN,2018-06-30,2018-06-30 23:29:25,2018-06-23 01:40:06
38083,0cbfa7741e21d7a732157a50ad8381de,68fe5bc21c5a3ad828108dc360c41fc9,delivered,2018-05-15 19:07:02,2018-05-15 19:35:58,2018-05-16 14:49:00,2018-05-21 17:18:32,2018-06-04,credit_card,None,101.5,None,1.0,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-05-21 19:31:53,84.00,17.50,cama_mesa_banho,54.0,245.0,1.0,1383.0,50.0,10.0,40.0,8e01028f9e35736a083d15e48ed32abf,9110,santo andre,SP,14940.0,ibitinga,SP,65049b3676e6edc693a01151a64f7a47,5.0,Pedido: 01-68698482 de 21,NaN,2018-05-22,2018-05-25 21:49:04,2018-05-15 19:35:58

In [80]:
df_integrado.dtypes

order_id                          object
customer_id                       object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
payment_type_1                    object
payment_type_2                    object
payment_value_1                   object
payment_value_2                   object
order_item_id                    float64
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
product_category_name             object
product_name_lenght              float64
product_description_lenght       float64
product_photos_qty               float64
product_weight_g                 float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
seller_zip_code_prefix           float64
seller_city                       object
seller_state                      object
review_id                         object
review_score                     float64
review_comment_title              object
review_comment_message            object
review_creation_date              object
review_answer_timestamp           object
dtype: object

## Campos datetime

In [91]:
df_integrado["order_purchase_timestamp"] = df_integrado["order_purchase_timestamp"].astype("datetime64[ns]")
df_integrado["order_approved_at"] = df_integrado["order_approved_at"].astype("datetime64[ns]")
df_integrado["order_delivered_carrier_date"] = df_integrado["order_delivered_carrier_date"].astype("datetime64[ns]")
df_integrado["order_delivered_customer_date"] = df_integrado["order_delivered_customer_date"].astype("datetime64[ns]")
df_integrado["order_estimated_delivery_date"] = df_integrado["order_estimated_delivery_date"].astype("datetime64[ns]")
df_integrado["shipping_limit_date"] = df_integrado["shipping_limit_date"].astype("datetime64[ns]")
df_integrado["review_creation_date"] = df_integrado["review_creation_date"].astype("datetime64[ns]")
df_integrado["review_answer_timestamp"] = df_integrado["review_answer_timestamp"].astype("datetime64[ns]")

## Campos float

In [100]:
df_integrado["payment_value_1"] = df_integrado["payment_value_1"].astype("float")
df_integrado["payment_value_2"] = df_integrado["payment_value_2"].astype("float")

## Campos int

In [116]:
df_integrado["order_item_id"] = df_integrado["order_item_id"].astype("Int64")
df_integrado["product_name_lenght"] = df_integrado["product_name_lenght"].astype("Int64")
df_integrado["product_description_lenght"] = df_integrado["product_description_lenght"].astype("Int64")
df_integrado["product_photos_qty"] = df_integrado["product_photos_qty"].astype("Int64")
df_integrado["product_weight_g"] = df_integrado["product_weight_g"].astype("Int64")
df_integrado["product_length_cm"] = df_integrado["product_length_cm"].astype("Int64")
df_integrado["product_height_cm"] = df_integrado["product_height_cm"].astype("Int64")
df_integrado["product_width_cm"] = df_integrado["product_width_cm"].astype("Int64")
df_integrado["customer_zip_code_prefix"] = df_integrado["customer_zip_code_prefix"].astype("Int64")
df_integrado["seller_zip_code_prefix"] = df_integrado["seller_zip_code_prefix"].astype("Int64")
df_integrado["review_score"] = df_integrado["review_score"].astype("Int64")

In [118]:
df_integrado.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
payment_type_1                           object
payment_type_2                           object
payment_value_1                         float64
payment_value_2                         float64
order_item_id                             Int64
product_id                               object
seller_id                                object
shipping_limit_date              datetime64[ns]
price                                   float64
freight_value                           float64
product_category_name                    object
product_name_lenght                       Int64
product_description_lenght                Int64
product_photos_qty                        Int64
product_weight_g                          Int64
product_length_cm                         Int64
product_height_cm                         Int64
product_width_cm                          Int64
customer_unique_id                       object
customer_zip_code_prefix                  Int64
customer_city                            object
customer_state                           object
seller_zip_code_prefix                    Int64
seller_city                              object
seller_state                             object
review_id                                object
review_score                              Int64
review_comment_title                     object
review_comment_message                   object
review_creation_date             datetime64[ns]
review_answer_timestamp          datetime64[ns]
order_approved_at_date           datetime64[ns]
dtype: object